/* GENERAL CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    /* Does NOT work on Safari */
    /* scroll-behavior: smooth; */
}

/* CLOCK TOGGLING and CONTAINER */

.clock-navbar {
    margin: 2.4rem auto;
    border: 0 solid #444;
    border-radius: 50rem;
    width: 20.6%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.clock-nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.btn {
    width: 50%;
    padding: 1.6rem;
    font-size: 2.4rem;
    /* gap: 1.6rem; */
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clocks {
    position: relative;
    overflow: hidden;
    background-color: white;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    height: 54rem;
    width: 50rem;
    margin-bottom: 4.8rem;
    border-radius: 2rem;
    background-color: #000;
}

.clock-block {
    display: flex;
    position: relative;
    font-size: 2.4rem;
    padding: 5.6rem 0;
    transition: all 0.5s ease-in-out;
    left: 0;
}

.clock-block-move {
    transform: translateX(-47rem);
}

.slider {
    height: 6rem;
    width: 15.5rem;
    border-radius: 50rem;
    background-image: linear-gradient(to right, #ffc36e, #ff925b);
    position: absolute;
    top: 13.6rem;
    left: 60.3rem;
    transition: all 0.5s ease-in-out;
}

.moveslider {
    left: 76.15rem;
}

.clock {
    height: 100%;
    width: 50rem;
    /* display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center; */
    padding: 0 4rem;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
}

/* ANALOGUE CLOCK */

/* present in the file analogue.css */

/* DIGITAL CLOCK */

/* present in the file digital.css */

/* FOOTER */

/* In the file common.css which contains the footer of the whole project */
